#IDE文件
.vs/
.idea/
.vscode/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

# 构建与发布文件夹
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Tt]emp/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

#Unity相关目录
.gradle
Bundles
Library
Logs
UserSettings
[Aa]ssetBundle/
/*.csproj
*.vsconfig
ProjectSettings/RiderScriptEditorPersistedState.asset
HybridCLRData

#Unity/Assets
Assets/StreamingAssets/
Assets/StreamingAssets.meta



